@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/* Light Mode Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Light gray */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Slightly darker gray */
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Very light gray */
}

::-webkit-scrollbar-corner {
  background-color: #f3f4f6; /* Match the light mode table background */
}

/* Dark Mode Scrollbar */
.dark ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* Dark gray */
  border-radius: 4px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #374151; /* Slightly darker gray */
}

.dark ::-webkit-scrollbar-track {
  background-color: #1f2937; /* Very dark gray */
}

.dark ::-webkit-scrollbar-corner {
  background-color: #1f2937; /* Match the dark mode table background */
}
